@import './global/global.css';

/*Imports*/
@import "./global/header.css";
@import "./global/rodape.css";

/*Home*/
@import './home/intro.css';
@import './home/Bicicletas.css';
@import './home/tecnologia.css';
@import './home/parceiros.css';
@import './home/depoimento.css';
@import './home/seguros.css';


/*Bicicletas*/

@import './bicicletas/bicicletas-page.css';
@import './bicicletas/escolha-a-sua.css';


/*Seguros*/
@import '/css/seguros/seguros.css';

/*utilidades*/
@import './utilidades/cores.css';
@import './utilidades/tipografia.css';
@import './utilidades/componentes.css'